<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Universities Search</h1>

    <span class="text-muted">
        <br>
        <p> Search for Universities in US </p>
    </span>

    <input class="form-control" ng-model="model.name" placeholder="Northeastern University...." type="text"/>
    <button ng-click="model.search(title)" class="btn btn-warning btn-block">Search</button>

    <table class="table table-striped">
        <tbody>
        <tr ng-repeat="univ in model.results">
            <td>
                <a href="{{univ.WEBADDR}}">{{univ.INSTNM}}</a>
            </td>
            <td>
                <a href="{{univ.ADMINURL}}">Admission URL</a>
            </td>
            <td>
                <a href="{{univ.NPRICURL}}">Financial Aid Estimator</a>
            </td>
            <td>
                {{univ.CITY}}
            </td>
        </tr>
        </tbody>
    </table>

</div>