<h1 class="page-header">Search Results</h1>

<p><b>People</b> matching the search query:  <b class="text-warning">{{model.searchTerm}}</b></p>
<table class="table table-striped" ng-repeat="res in model.fnresults">
    <tr>
        <td>
            <a href="#/profile/{{res._id}}">{{res.firstName}} {{res.lastName}}</a>
        </td>
    </tr>
</table>
<table class="table" ng-repeat="res in model.lnresults">
    <tr>
        <td>
            <a href="#/profile/{{res._id}}">{{res.firstName}} {{res.lastName}}</a>
        </td>
    </tr>
</table>


<p><b>Universities</b> matching the search query :  <b class="text-warning">{{model.searchTerm}}</b></p>
<table class="table table-striped">
    <thead>
    <th>University Name</th>
    <th>City</th>
    <th>Admissions URL</th>
    <th>Financial Aid URL</th>
    </thead>
    <tr ng-repeat="univ in model.univresults">
        <td>
            <a ng-href="http://{{univ.WEBADDR}}" target="_blank">{{univ.INSTNM}}</a>
        </td>
        <td>
            {{univ.CITY}}
        </td>
        <td>
            <a ng-href="http://{{univ.ADMINURL}}" target="_blank">Admissions</a>
        </td>
        <td>
            <a ng-href="http://{{univ.NPRICURL}}" target="_blank">Financial Aid</a>
        </td>
    </tr>
</table>