<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Register</h1>
    <form class="form-horizontal" action="profile.html">
        {{allUsers}}
        <div class="form-group">
            <label for="userName">Username:</label>
            <input id="userName" ng-model="userName" type="text" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input id="pwd" ng-model="pwd" type="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="verifypwd">Verify Password:</label>
            <input id="verifypwd" ng-model="verifypwd" type="password" class="form-control" placeholder="Verify Password">
        </div>
        <div class="form-group">
            <label for="mail">Email:</label>
            <input id="mail" ng-model="email" type="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
            <button id="submit" ng-click="register()" type="submit" class="btn btn-warning form-control">Register</button>
        </div>
    </form>
</div>