<div class="bs-component" ng-controller="HeaderController">
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#/home" class="navbar-brand">Academia</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar3" aria-expanded="false">
            <ul class="nav navbar-nav">
                <li><a href="#/univs">Universities</a></li>
                <li><a href="#/login" ng-if="curid == null">Login</a></li>
            </ul>
            <div class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" ng-model="model.searchTerm" class="form-control" placeholder="Stanford or Jeff or Miller">
                </div>
                <button type="submit" ng-click="search()" class="btn btn-default"><i class="glyphicon glyphicon-search"/></button>
            </div>
            <ul class="nav navbar-nav navbar-right" ng-if="curid != null">
                <li><a ng-click="getUrl()"><span class="glyphicon glyphicon-user" aria-hidden="true"/><span>&nbsp;&nbsp;{{$root.firstName}}</span></a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="caret"></span></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/account">Accounts Settings</a></li>
                        <li><a href="#/logout" ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>