<!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->
    <h1 class="page-header">Profile</h1>
        <p>{{model.user.firstName}}&nbsp;{{model.user.lastName}}</p>
        <p ng-if="model.user.accountType == 'Student'">
            <span>Studies at </span>
            <b class="text-primary">{{model.user.schoolName}}</b>
        </p>
        <p ng-if="model.user.accountType == 'Professor'">
            <span>Works at </span>
            {{model.user.schoolName}}
        </p>
        <p>Tag Line: <i class="text-success">{{model.user.tagLine}}</i></p>
        <br>

        <button class="btn btn-danger" ng-click="model.exportProfile()">Generate Profile Summary</button>
        <div ng-include src="'views/profile/projects.view.html'"></div>
        <div ng-include src="'views/profile/publications.view.html'"></div>
        <div ng-if="model.user.accountType == 'Student'" ng-include src="'views/profile/recommendations.view.html'"></div>
        <div ng-include src="'views/profile/skills.view.html'"></div>
        <div ng-if="model.user.accountType == 'Student'" ng-include src="'views/profile/testscores.view.html'"></div>
        <div ng-include src="'views/profile/clubs.view.html'"></div>


    <div class=" col-lg-5" ng-if="model.user.accountType == 'Student'">
        <H3><b>Universities Applied To</b></H3>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat = "univ in model.profile.univsApplied">
                <div class="text-success">{{univ.univName}}</div>
            </li>
        </ul>
    </div>
<!--</div>-->