<!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->
    <h1 class="page-header">Profile</h1>
        <p>Divya Devaraj</p>
        <p>{{model.profile.schoolName}}</p>
        <p>{{model.profile.tagLine}}</p>
        <br>

        <H3><b>Projects</b></H3>
        <br>
        <div class="col-lg-10">
        <table class="table table-striped table-bordered table-hover col-lg-6">
            <tr ng-repeat="proj in model.profile.projects">
                <td>
                    <ol class="list-group">
                        <li class="list-group-item"><b><u>{{proj.title}}</u></b>
                            <br><br>
                            {{proj.description}}
                        </li>
                    </ol>
                </td>
            </tr>
        </table>
        </div>



        <div class="col-lg-6">
            <H3><b>Clubs</b></H3>
            <br>
            <ul class="list-group" ng-repeat = "club in model.profile.clubs">
                <li class="list-group-item list-group-item-success">{{club.clubName}}</li>
            </ul>
        </div>


        <div class="col-lg-6">
            <H3><b>Skills</b></H3>
            <br>
            <ul class="list-group" ng-repeat="skill in model.profile.skills">
                <li class="list-group-item">
                    <span class="badge">{{skill.count}}</span>
                    {{skill.title}}
                </li>
                <button type="button" ng-click="endorse" class="btn btn-warning">Endorse</button>
            </ul>
        </div>

        <div class="col-lg-6">
        <H3><b>Test Scores</b></H3>
        <br>
        <div ng-repeat = "score in model.profile.testScores">
            <div class="list-group">
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">{{score.test}} conducted by {{score.org}}</h4>
                    <p class="list-group-item-text">{{score.scoreAcheived}}/{{score.scoreMax}}</p>
                </div>
            </div>
        </div>
        </div>

    <div class ="col-lg-10">
        <H3><b>Recommendations</b></H3>
        <br>
        <div class ="media" ng-repeat="reco in model.profile.recommendations">
            <div class="media-left media-top">
                <a href="#">
                    <img class="media-object" src="..." alt="...">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="/profile/{{reco.authorId}}">{{reco.authorName}}</a></h4>
                {{reco.content}}
            </div>
        </div>
    </div>
<!--</div>-->