<!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->
    <h1 class="page-header">Profile</h1>
        <p>Divya Devaraj</p>
        <p>{{model.profile.schoolName}}</p>
        <p>{{model.profile.tagLine}}</p>
        <br>

        <H3><b>Projects</b></H3>
        <br>
        <div class="col-lg-10">
        <table class="table table-bordered col-lg-6">
            <tr ng-repeat="proj in model.profile.projects">
                <td>
                    <ol class="list-group">
                        <li class="list-group-item"><b><u>{{proj.title}}</u></b>
                            <br><br>
                            {{proj.description}}
                        </li>
                    </ol>
                </td>
            </tr>
        </table>
        </div>

        <div class="col-lg-8">
            <H3><b>Skills</b></H3>
            <br>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="skill in model.profile.skills">
                    <span class="badge">{{skill.count}}&nbsp;</span>
                    {{skill.title}}
                    <button type="button" ng-click="endorse" style="float: right"><i class="glyphicon glyphicon-plus"/></button>
                </li>
            </ul>
        </div>
        <br>
        <div class="col-lg-8">
        <H3><b>Test Scores</b></H3>
        <br>
        <div ng-repeat = "score in model.profile.testScores">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">{{score.test}}</h3>
                </div>
                <div class="panel-body">
                   <b> {{score.scoreAcheived}}/{{score.scoreMax}}</b>
                    <span style="float:right">Conducted by {{score.org}}<br></span>
                </div>
            </div>
        </div>
        </div>


    <div class ="col-lg-10">
        <H3><b>Recommendations</b></H3>
        <br>
        <div class ="media" ng-repeat="reco in model.profile.recommendations">
            <div class="media-left media-top">
                <a href="#">
                    <img class="media-object" src="..." alt="...">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="/profile/{{reco.authorId}}">{{reco.authorName}}</a></h4>
                {{reco.content}}
            </div>
        </div>
    </div>

    <div class="jumbotron col-lg-8">
        <H3><b>Clubs & Activities</b></H3>
        <br>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat = "club in model.profile.clubs">
                {{club.clubName}}
            </li>
        </ul>
    </div>
<!--</div>-->