<H3>Skills</H3>
<br>
    <div class="col-lg-8">
    <ul class="list-group">
        <li class="list-group-item">
            <span class="badge">5</span>
            Java
        </li>
        <button type="button" ng-click="endorse" class="btn btn-success">Endorse</button>
        <li class="list-group-item">
            <span class="badge">14</span>
            Web Design
        </li>
        <button type="button" ng-click="endorse" class="btn btn-success">Endorse</button>
        <li class="list-group-item">
            <span class="badge">8</span>
            Trigonometry
        </li>
        <button type="button" ng-click="endorse" class="btn btn-success">Endorse</button>
        <li class="list-group-item">
            <span class="badge">2</span>
            CSS
        </li>
        <button type="button" ng-click="endorse" class="btn btn-success">Endorse</button>
    </ul>
</div>

    <ul class="list-group" ng-repeat="skill in skills">
        <li class="list-group-item">
            <span class="badge">{{skill.endorsementCount}}</span>
            {{skill.name}}
        </li>
        <button type="button" ng-click="endorse" class="btn btn-success">Endorse</button>
    </ul>