<div class="col-lg-8">
    <H3><b>Test Scores</b></H3>
    <div ng-repeat = "score in model.profile.testScores">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">{{score.test}}</h3>
            </div>
            <div class="panel-body">
                <b> {{score.scoreAcheived}} / {{score.scoreMax}}</b>
                <span style="float:right">Conducted by {{score.org}}<br></span>
            </div>
        </div>
    </div>
</div>